<div id="<%= dom_id client %>">
      <th scope="row">
        <%= client.id %>
      </th>
      <th scope="row">
        <%= client.name %>
      </th>
      <td scope="row">
        <%= client.phone %>
      </td>
      <td scope="row">
        <%= client.email %>
      </td>
</div>

