<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>
<%= link_to "New client", new_client_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>

    <% @clients.each do |client| %>
      <tr>
        <%= render client %>

          <td colspan="3">
            <%= link_to "Llamadas", calls_path(client_id: client.id) %>
            <%= link_to "Editar", edit_client_path(client) %>
            <%= button_to "Destroy", client, method: :delete %>
          </td>


      </tr>
    <% end %>

  </tbody>
</table>
<%=raw pagy_nav(@pagy)%>